<style>
    body{
  background-image: url("https://images.hdqwalls.com/download/nature-ocean-rock-lu-1366x768.jpg"); 
  background-repeat: no-repeat; 
  background-size: cover;
}
img.upper{
  display: block;
  margin: 0px auto;
}
div.box{
  height: 800;
  width: 450;
  background-color: rgba(255,255,255,0.7);
  border-radius: 5%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4%;
  text-align: center;
  padding-top: 1%;
}
  </style>
<body>
    <div class="box">
        <h2>Login Page</h2>
        <form method="POST">
            {% csrf_token %} 
            <p>
                <label>Username</label>
                <input type="text" name="username">
            </p>
            <p>
                <label>Password</label>
                <input type="password" name="password1">
            </p>
            <input type="submit" value="Login" name='submit_button'>
        </form>

        <form method="POST">
            {% csrf_token %}
            <input type="submit" value="logout" name="logout">
        </form>
        <button type="button" name='sign_in'><a href="signup/">Sign in</a></button>
        <p>{{username}}</p>
    </div>
</body>