<style>
  body{
background-image: url("https://images.hdqwalls.com/download/nature-ocean-rock-lu-1366x768.jpg"); 
background-repeat: no-repeat; 
background-size: cover;
}
img.upper{
display: block;
margin: 0px auto;
}
div.box{
height: 800;
width: 450;
background-color: rgba(255,255,255,0.7);
border-radius: 5%;
margin-right: auto;
margin-left: auto;
margin-top: 4%;
text-align: center;
padding-top: 1%;
}
</style>
<body>
  <div class="box">
    <h3>Sign Up Page</h3>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
        </p>
        {% endfor %}
        <input type="submit" value="Sign up">
    </form>
    <button type="button"><a href="/">Log in</a></button>
  </div>
</body>